<div ng-controller="DartboardController as dartCtrl">
  <section class="players">
    <h3>{{dartCtrl.getCurrentPlayerName()}}</h3>
    <p class="winning-message">
      <i>{{dartCtrl.winItMessage()}}</i>
    </p>
    <ul class="inline" >
      <li ng-repeat="shot in dartCtrl.currentPlayer.turn track by $index">{{shot}}</li>
    </ul>
    <form class="add-player-form" ng-submit="dartCtrl.addPlayer(dartCtrl.name)">
      <input type="text" name="name" ng-model="dartCtrl.name" placeholder="Add player" required="true"/>
      <input class="submit" type="submit" value="+" />
    </form>
    <ul>
      <li ng-repeat="player in dartCtrl.players" class="player-list">
        <div ng-click="dartCtrl.setCurrentPlayer(player)" class="ng-class:player.isActive">
          <span>{{player.name}} : </span><span class="score">{{player.score}}</span>
        </div>
      </li>
    </ul>
  </section>
  <section class="dartboard" ng-click="dartCtrl.dartThrow($event)">
  <button class="right-most-buttons" ng-click="dartCtrl.undoLastThrow()">Undo</button>
  <button class="right-most-buttons" ng-click="dartCtrl.dartHit()">Miss!</button>
    <%= inline_svg("dartboard.svg") %>
  </section>
</div>
