<div ng-controller="DartboardController as dartCtrl">
  <section class="players">
    <h3>{{dartCtrl.getCurrentPlayerName()}}'s last score {{dartCtrl.lastScore}}</h3>
    <button ng-click="dartCtrl.undoLastThrow()">Undo {{dartCtrl.getCurrentPlayerName()}}'s last throw</button>
    <form name="shit" ng-submit="dartCtrl.addPlayer(name)">
      <input type="text" name="name" ng-model="name" placeholder="Add player"/>
      <input class="submit" type="submit" value="+" />
    </form>
    <ul>
      <li ng-repeat="player in dartCtrl.players">
        <div ng-click="dartCtrl.setCurrentPlayer(player)" class="ng-class:player.isActive">{{player.name}} : {{player.score}}</div>
      </li>
    </ul>
  </section>
  <section class="dartboard" ng-click="dartCtrl.dartThrow($event)">
    <%= inline_svg("dartboard.svg") %>
  </section>
</div>
