<div>
  <section class="players" ng-controller="PlayerController as playerCtrl">
    <h3>{{playerCtrl.currentPlayerName()}}</h3>
    <p class="winning-message">
      <i>{{playerCtrl.winItMessage()}}</i>
    </p>
    <ul class="inline" >
      <li ng-repeat="shot in playerCtrl.currentPlayerTurn() track by $index">{{shot}}</li>
    </ul>
    <form class="add-player-form" ng-submit="playerCtrl.addPlayer(playerCtrl.name)">
      <input type="text" name="name" ng-model="playerCtrl.name" placeholder="Add player" required="true"/>
      <input class="submit" type="submit" value="+" />
    </form>
    <ul>
      <li ng-repeat="player in playerCtrl.players()" class="player-list">
        <div ng-click="playerCtrl.setCurrentPlayer(player)" class="ng-class:player.isActive">
          <span>{{player.name}} : </span><span class="score">{{player.score}}</span>
        </div>
      </li>
    </ul>
  </section>
  <section class="dartboard" ng-controller="DartboardController as dartCtrl" ng-click="dartCtrl.dartThrow($event)">
    <button class="right-most-buttons" ng-click="dartCtrl.undo()">Undo</button>
    <button class="right-most-buttons" ng-click="dartCtrl.miss()">Miss!</button>
    <%= inline_svg("dartboard.svg") %>
  </section>
</div>
