$light-targets: 1, 4, 6, 15, 17, 19, 16, 11, 9, 5, 25
$dark-targets: 20, 18, 13, 10, 2, 3, 7, 8, 14, 12, 50
$multipliers: d t b

$sweet-green: #2CAD6B
$sweet-red: #ED3237

=colour-target($multiplier, $targets, $colour)
  @each $target in $targets
    ##{$multiplier}#{$target}
      fill: $colour

@each $m in $multipliers
  +colour-target($m, $light-targets, $sweet-green)
  +colour-target($m, $dark-targets, $sweet-red)

.dartboard
  float: right

.players
  background: salmon
  padding: 20px
  width: 200px
  float: left

.inline 
  margin-bottom: 10px

  li
    display: inline
    margin-right: 5px

.player-list
  margin: 10px 0

.score
  float: right

.active
  font-size: 1.25em
  font-weight: bold

.undo
  float: right
  margin-top: 10px
  padding: 5px 20px

#dartboard #areas g :hover
  opacity: 0.6
