body
  font-family: "Open Sans"
  color: #333
  background-color: #fafafa

h1
  padding: 50px
  font-size: 40px
  background-color: #fad63a

.container
  width: 980px
  margin: 0 auto
  padding-bottom: 10px